/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.wf-inactive body {
	font-size: 94%;
}

.wf-loading header, .wf-loading footer, .wf-loading .main-content {
	opacity: 0;
}

header, footer, .main-content {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none; }
table {	border-collapse: collapse;	border-spacing: 0; }

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* Default Mobile View Styles */

html {
	background: #20384c; /* Old browsers */
	background: -moz-linear-gradient(left,  #20384c 0%, #32265a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#20384c), color-stop(100%,#32265a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #20384c 0%,#32265a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #20384c 0%,#32265a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #20384c 0%,#32265a 100%); /* IE10+ */
	background: linear-gradient(to right,  #20384c 0%,#32265a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20384c', endColorstr='#1f445a',GradientType=1 ); /* IE6-9 */
}

body { 	
	background:url('../images/nyc-bkg.png') center center fixed; 
	font-size:100%;
	line-height: 1.5em;
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; font-style:normal; 
	text-align:left;
	color:#fff;
}

img {max-width:100%;}
h1, h2, h3, h4, h5, strong { font-family:"Karmina Bold", Cambria, Georgia, serif;  font-weight:bold; font-style:normal; color: #fff; font-size:2.25em; letter-spacing: 0.04em;}

h4 {
	font-size:1em;
	float: left;
	margin-right: 1em;
    line-height: 1.4em;
}
strong {
	font-size: 1em;
}
a{ color:#fff064; text-decoration: none; }
em {
	background: rgba(255,255,255,0.1);
}

/* #################################################################################################################################### */ 
/* #############  HEADER  ############################################################################################################# */
/* #################################################################################################################################### */

header#top { width:90%; padding: 0 5%;}

.ampersand-logo img{ max-width: 12%; margin: 20px 0 10px; }
.conf-title { font-size:2em; line-height: .7em;}
.conf-title a{ color:#fff;}

.nyc {
	letter-spacing: 3px;
	font-size: 0.85em;
}

.description { 
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; font-style:normal; 
	letter-spacing:.2em; 
	font-size:.6em; 
	text-transform: uppercase; 
	margin: 5px 0 0 0;
}	
.tickets { 
	border-radius: 6px; 
	background: rgba(0,0,0,0.4);
	padding: 8px;
	margin: 15px 0 0 0;
	text-align: center;
	}
.loc-date { color:#fff; font-size:1em; }
.price { 
	color: #fff064; 
	font-size: 3.375em; 
	line-height: 1;
	font-family:"Karmina Sans Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight:bold; 
	font-style:normal; 
	margin: 0 0 3% 0;
}
.price span {
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; font-style:normal; 
	font-size: 0.444444444em;
	display:block;
}
	
.cta {
	color: #000;
	border-radius: 3px;
	background-color: #fff064;
	display: block;
	font-size:1em;
	letter-spacing:.1em;
	text-transform: uppercase;
	padding: 4% 0 3%;
	font-family:"Karmina Sans Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:bold;
}	

.vat { font-size:.4em; letter-spacing: 0em; margin-right:5%; }

	@media only screen and (min-width : 580px) {
		
		.conf-title { font-size:2.3em; }
		.description { font-size:.7em; }	
		.tickets{ position: absolute; top: 1%; right:5%; width:10.6em; }
		.loc-date { color:#fff; font-size:1em; }
		.price { font-size: 2.5em; }
		.price span { font-size: 0.4em;	}
	}	
	@media only screen and (min-width : 720px) {
		
		header#top  { width: 86%; padding: 0 7%; }
		.conf-title { font-size: 2.5em; }
		.tickets { right: 7%;  }
		.cta:hover { opacity:0.8;}
	}
	@media only screen and (min-width : 1024px) {
		header#top  { text-align:center; }
		.conf-title { font-size: 3.375em; }
		.description { font-size: .9em; 	margin: 15px 0 0 0; }		
	}	
	@media only screen and (min-width : 1156px) {
		header#top  { padding: 2%; }	
		.conf-title { font-size: 5.063em; }
		.description { font-size: 1em; 	margin: 15px 0 0 0; }
	}
	@media only screen and (min-width : 1350px){
		.tickets{ width:13em; }
		.loc-date { color:#fff; font-size:1.5em; }
		.price { font-size: 3.375em; margin: 7% 0 7%; }	
	}		


/* #################################################################################################################################### */ 
/* #############  NAVIGATION  ############################################################################################################# */
/* #################################################################################################################################### */



nav#main-nav { margin: 0 -1em; }
nav#main-nav ul { margin-bottom: 0;  }
nav#main-nav a { 
	display: block; 
	border-bottom: 1px solid rgba(255,255,255,0.3); 
	padding: .5em 1em; 
	letter-spacing: .1em;
	background: rgba(0,0,0,0.8); 
	font-size: 1.5em;
	text-transform:uppercase;
	font-family:"Karmina Sans Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:bold;
}

#nav a { font-weight: bold; }
#nav { margin: 0; outline: 0; font-size: .7857em; /* 11/14 */ }

#jump {
	background: url('../images/menu-btn.png')10px 9px no-repeat;
	cursor: pointer;
	display: block;
	padding: 12px 0 0 0;
	height: 53px;
	width: 44px;
	text-indent: -2.2em;
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-weight:200; 
	font-style:normal;
	font-size: .8em;
	letter-spacing: .1em;
	color: #fff;
	position: absolute;
	right: 5%;
	top: 5px;
	z-index: 1001;
}

#search input { width: 100%; }

body:not(:target) #nav {
    outline: 0;
    margin: 0;
    padding-top: 50px;
	position: absolute;
	top: -362px;
    right: 0;
    left: 0;
    z-index: 1000; 
	
}

body:not(:target) #nav a {
	border-bottom-width: 0;
	overflow: hidden;
	height: 0;
	line-height: 0;
	padding: 0 1em; 
}

body:not(:target) #nav:target {	z-index: 1001; }

body:not(:target) #nav:target a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 3em;
	height: 2.25em;
	padding: 0px 0 10px 14px;
	position: relative;
	z-index: 1;
	-moz-transition: height .25s, line-height .25s;
	-ms-transition: height .25s, line-height .25s;
	-o-transition: height .25s, line-height .25s;
	-webkit-transition: height .25s, line-height .25s;
	transition: height .25s, line-height .25s; 
}
body:not(:target) #nav:target #back {
	display: block;
	position: relative; 
}

body:not(:target) #nav:target #back a {
	background: transparent;
	border: 0;
	display: block;
	height: auto;
	line-height: 1;
	position: absolute;
	top: -101em;
	bottom: -101em;
	left: 0;
	right: 0;
	text-indent: -999em;
	z-index: 0; 
} 

	@media only screen and (min-width : 580px) {
		
		#jump { display: none;}
	 	
			body:not(:target) #nav { 
   			    position: absolute;
				width:90%; 
				margin: 0 auto; 
				z-index: 20; 
				top: -6px;
				border-bottom: 3px solid rgba(255,255,255,1); 
				padding:54px 0 1px;
			}
			
		  	body:not(:target) #nav a {
		  		border-bottom-width: 0;
				border-bottom: 0px;
		  		font-weight: bold;
		  		overflow: hidden;
		  		height: 50px;
		  		line-height: 1em;
		  		padding: 0 1em;
		  		font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
		  		font-weight:200; 
		  		font-style:normal; 
		  		font-size:1em;
		  		letter-spacing:.08em; 
		  		text-transform:uppercase;
		  		color:#fff; 
		  		background: none;
		  		display:inline;
		  		position:relative;
		  	}
			
		  	body:not(:target) #nav li { float: left; text-align:left; width:33%; padding:0 0 10px 0;}
			body:not(:target) #nav li a{ padding: 0; 	font-family:"Karmina Sans Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:bold; font-style:normal; }
			body:not(:target) #nav li.currentpage a { color:#fff064;}
			.menu-toggle { display:none;}
			#back{ display: none; }
	}
	@media only screen and (min-width : 720px) {
		body:not(:target) #nav { width: 86%; }
	}
	@media only screen and (min-width : 860px) {
		body:not(:target) #nav a { font-size:1em; }
		body:not(:target) #nav a:hover { color: #fff064!important; }
		body:not(:target) #nav li { width:16%;}
	}	




/* #################################################################################################################################### */ 
/* #############  MAIN CONTENT  ############################################################################################################# */
/* #################################################################################################################################### */
		  

/* MAIN CONTENT */
.main-content { position: relative; top:40px; padding: 25px 5% 60px;  }
.main-content:after {
	content: '';
	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-10px;
	background-color: rgba(0,0,0, 0.4) ;
	-ms-transform: skew(0deg,-2deg); 
	-webkit-transform: skew(0deg,-2deg); 
	-o-transform: skew(0deg,-2deg); 
	-moz-transform: skew(0deg,-2deg);
	clear:both;
}
.main-content:before {
	content: '';
	height: 100%;
	position: absolute;
	border-bottom: none;
	border-radius: 0 0 3px 3px;
	z-index: -90;
	right: 0;
	left:0px;
	top:-7px;
	background-color: rgba(0,0,0, 0.3) ;
	-ms-transform: skew(0deg,2deg); 
	-webkit-transform: skew(0deg,2deg); 
	-o-transform: skew(0deg,2deg); 
	-moz-transform: skew(0deg,2deg);
}

.main-content h1 { font-size:1.5em; line-height:1.1em; margin:20px 0;  }
.main-content p { font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-size:1em; font-weight: 200; line-height:1.4em; }
.main-content  .presentation-title{ font-size: 0.7em; }
	@media only screen and (min-width : 580px) {
		.main-content { padding-top:130px; }
	}
	@media only screen and (min-width : 720px) {
		.main-content { padding: 130px 7% 60px;}
		
	}
	@media only screen and (min-width : 860px) {
		.main-content {  top:45px; padding-top:110px;}
		}	
	@media only screen and (min-width : 1024px) {	
		.main-content h1 { font-size:2.25em; margin-top: 1%; width: 80%;}
	}
	
	
/* #################################################################################################################################### */ 
/* #############  FOOTER  ############################################################################################################# */
/* #################################################################################################################################### */	

/* FOOTER SECTION */
.sponsors{ margin:120px 0 0 0; padding: 0 5%; clear:both; }
.sponsors h1{ font-size: 1.5em;}
.sponsors h2 { font-size: 1em; font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight: 200; color: #fff064; margin-top: 30px; }

.sponsors img { margin:12px; opacity: 0.8;}
.sponsors a:hover img {
	opacity: 1;
}

.social { position:relative; background-color: rgba(0,0,0, 0.3); padding:23px 0 12px 0; text-align:center; }
.social h3 { font-size: .9em; letter-spacing:.07em;}
.social ul { overflow: hidden;}
.social ul li { float:left; width: 25%; padding: 21px 0; }
.social ul li a { padding: 20px 0 30px 60px; font-size:0em; }

.social a#twitter { background:url('../images/icon-twitter.svg') 0px 0px no-repeat; width:49px; height:49px; }
.social a#rss { background:url('../images/icon-rss.svg') 0px 0px no-repeat; width:49px; height:49px; }
.social a#lanyrd { background:url('../images/icon-lanyrd.svg') 0px 0px no-repeat; width:49px; height:49px; }
.social a#ical { background:url('../images/icon-ical.svg') 0px 0px no-repeat; width:49px; height:49px; }		

.social-subtext { display: none;}	

footer { 
	clear:both;
	background: #fff; 
	text-align: left; 
	font-size: 0.8em;
	font-family:"Karmina Sans Regular", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-weight: 400;
	color:#555555;
	overflow:hidden;
	padding:2% 4% 4% 4%;
	}

footer a{color:#7EA107;}

.footer-nav { background: rgba(0,0,0, 0.5); width:100%; text-align: center; padding:18px 0 0 0;}
.footer-nav ul li { 
	margin: 0 0 18px 0;
	letter-spacing:.05em; 
	font-size:.8em; 
	}

	@media only screen and (min-width : 720px) {
	
		.sponsors{  padding: 0 7%; }
		.social ul li a { padding: 20px 0 30px 60px; font-size:1em; }
		.footer-nav { padding: 18px 0;}
		.footer-nav ul li { display: inline; margin: 0 15px; }
	
		/* FOOTER */
		footer { padding:4% 5%;  }
		footer.section {width: 95%;}
		footer img.clearleft { float:right;}
	}

	@media only screen and (min-width : 1220px) {
			.social-subtext { display: block;}
			.social a#twitter .social-subtext { margin: -9px 0 0 80px; font-size: .9em;}
			.social a#rss .social-subtext { margin: -9px 0 0 80px; font-size: .9em;}
			.social a#lanyrd .social-subtext { margin: -9px 0 0 80px; font-size: .9em;}
			.social a#ical .social-subtext { margin: -9px 0 0 80px; font-size: .9em;}
			.sponsors h1{ font-size: 2.25em;}
	}

/* #################################################################################################################################### */ 
/* #############  HOME PAGE SPEAKER SECTION  ############################################################################################################# */
/* #################################################################################################################################### */

.speakers li { font-size: 1.5em; margin-bottom: 18px; }
.speakers li a { font-family:"Karmina Regular", Cambria, Georgia, serif;  font-weight:normal; font-style:normal; }
.speakers li a img {display: none;}

	@media only screen and (min-width : 580px) {
	
		.speakers { margin:12px 0 0 0;}
		
		.speakers li { font-size: 1.5em; float: left; width: 50%; }
		.speakers li a{ 
			margin: 0;
			width: 96%;
			display: block;
			padding: 53% 0 0 0;
		}
		.speakers li p { margin-bottom: 4%; margin-top: 2px;}
		
		#speaker1 { background:url('../images/speakers-nick-sherman.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker2 { background:url('../images/speakers-mark-boulton.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker3 { background:url('../images/speakers-jenn-lukas.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker4 { background:url('../images/speakers-luc-de-groot.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker5 { background:url('../images/speakers-michael-johnson.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker6 { background:url('../images/speakers-trent-walton.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker7 { background:url('../images/speakers-jonathan-hoefler.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker8 { background:url('../images/speakers-andy-hume.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker9 { background:url('../images/speakers-christian-schwartz.jpg')  0 0 no-repeat; background-size: contain; }
		#speaker1, #speaker3, #speaker5, #speaker7, #speaker9 { margin-right:0%; }
		
	}
	
	@media only screen and (min-width : 820px) {	
		.speakers li { padding: 0; }
		.speakers li a{	width: 96%;	}
	}
	
	@media only screen and (min-width : 1024px) {	
		.speakers li { padding:0;  }
		.speakers li a:hover { opacity:.8;}
	}
	
	@media only screen and (min-width : 1150px) {	
		.speakers li { width: 33%; padding: 0;  }
		.li-spk1, .li-spk2, .li-spk4, .li-spk5, .li-spk7, .li-spk8  { margin-right:.3%; }
		.li-spk3, .li-spk6, .li-spk9{ margin-right:0; }
	}
	@media only screen and (min-width : 1220px) {	

	}	



/* #################################################################################################################################### */ 
/* #############  Schedule PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.schedule { padding:0; text-align:left; }
.schedule h1 { padding:0; }
.schedule-change { text-align: center;}
.schedule .time { font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-size:.8em; font-weight: 200; color: rgba(255,255,255,0.8); text-align:right; width: 29%; border-right: 1px solid rgba(255,255,255,0.2); padding:0 12px 0 0; }
.schedule h3.summary { font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; color: #fff;  margin-left:12px; line-height: 1;}
h2 em, h3 em {
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200;
}
.schedule-table {margin:60px 0 0 0; width: 100%;}
.schedule-table td {padding:25px 0}
.schedule-table .first td{ padding-top:0px;}
.schedule-table .last td{ padding-bottom:0px;}
.vevent td { font-size:.8em; }
.vevent td p {   margin-left:12px;}
.vevent td .vcard{ font-size:1.7em; }
.break { background: rgba(0,0,0,0.15); border-bottom: 1px solid rgba(255,255,255,0.1); border-top: 1px solid rgba(255,255,255,0.1);}
.type-in-20 p { margin-bottom:9px; }
.schedule-change{  margin:35px; }

@media only screen and (min-width : 820px) {	
	.schedule p { width:65%; }
}

@media only screen and (min-width : 1024px) {	
	.schedule p { width:51%; }
}

/* #################################################################################################################################### */ 
/* #############  LOCATION PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.location { padding: 0;}

#conf-location { margin: 20px 0 0 0;}
#conf-location h2{ font-size:1.5em; margin:0 0 7px 0; }
#conf-location address { font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; font-style:normal; color: rgba(255,255,255,0.8);}
#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; color:#fff;}
#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:12px; padding:50px 0 0 0; }
#conf-location .location-a { background:url('../images/marker-pre-party.png') 0 0px no-repeat;}
#conf-location .location-b { background:url('../images/marker-conference.png') 0 0px no-repeat;}
#conf-location .location-c { background:url('../images/marker-after-party.png') 0 0px no-repeat;}

#loc-container { clear:both; }

#city-info { width: 100%; margin: 0 auto; text-align: left; padding:40px 0 0 0;  }
#city-info h3{ font-size: 1.5em;  margin:0px 0 10px;  color: rgba(255,255,255, 0.9); }
#city-info p { margin-bottom:20px;}

.map iframe{ width:100%; height:260px; }	

#sleep-food-net { width: 100%; font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; letter-spacing:.03em;}
#sleep-food-net h4 { font-size:1.5em; font-family:"Karmina Regular", Cambria, Georgia, serif; font-weight:normal; font-style:normal; margin: 40px 0 20px; }	
#sleep-food-net address { font-size:0.9em; margin: 0 0 30px 0; }
#sleep-food-net address p { color: rgba(255,255,255,0.6);}	

.map{ width: 100%; padding: 0; margin-top: 40px;}


	@media only screen and (min-width : 550px) {
		#conf-location { width: 100%; text-align:left; float: left; margin: 0; border-bottom: none;}
		#conf-location h3{ font-size:1.5em; margin:0 0 7px 0; }
		#conf-location address { font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight:200; font-style:normal;   font-size:0.9em; color: #cccccc;}
		#conf-location address .conf-location-name, #sleep-food-net address .conf-location-name {font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; color:#fff;}
	
		#conf-location .location-a, #conf-location .location-b, #conf-location .location-c { margin-bottom:55px; padding:20px 0 0 52px; }
		#conf-location .location-a { background:url('../images/marker-pre-party.svg') 0 14px no-repeat;}
		#conf-location .location-b { background:url('../images/marker-conference.svg') 0 14px no-repeat;}
		#conf-location .location-c { background:url('../images/marker-after-party.svg') 0 14px no-repeat;}
	}

	@media only screen and (min-width : 720px) {
		.map{ width: 100%; padding: 0; margin: 0; float: left; }
		#sleep-food-net { margin-right:3%; width: 50%; float: left; }
	}
	
	@media only screen and (min-width : 820px) {	
		.location header p { width:60%; margin-bottom: 25px;}
		#conf-location .location-a { float: left; margin-right:2%; width: 24%; }
		#conf-location .location-b { float: left; margin-right:2%; width: 24%; }
		#conf-location .location-c { float: left; margin-right:0; width: 24%; }
		
		.map{ width: 62%; padding: 0; float: left;  }
		.map iframe{ width:100%; height:360px; }	
		
		#city-info { 
			background:url('../images/deco-brighton-pic.png')0 0 no-repeat; 
			background-size: contain;
			width: 34%; 
			float: right;
			margin:0; 
			padding: 19% 0 0 0;
			position: relative;
		}
}

		
	@media only screen and (min-width : 1024px) {
		.map{ width: 73%; padding: 0; float: left; }
		.map iframe{ width:100%; height:460px; }	
		#sleep-food-net {
			clear: both;
			overflow: hidden; 
			width: 100%;
			margin: 40px 0 100px; 
			padding:3% 0;
			border-top: 1px solid rgba(255,255,255,0.3); 
			border-bottom: 1px solid rgba(255,255,255,0.3); 
			-webkit-box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
	        box-shadow:  0px -1px 0px 0px rgba(0, 0, 0, .3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
		}
		#accommodation, #eating, #wifi { width: 30%; float: left;  }
		#accommodation, #eating{ margin-right: 3%;  }
		
		#city-info { width: 25%;  padding: 13% 0 0 0; margin: 0; }
		#city-info h2 { font-size: 1.3em; }
		#city-info p { font-size: .9em; }
	
		
}

/* #################################################################################################################################### */ 
/* #############  Speakers PAGE ####################################################################################################### */
/* #################################################################################################################################### */


.speakers-container{ padding: 0 0 4%; margin-bottom:6%; border-bottom:1px solid rgba(255,255,255,0.3);}
.speaker-copy h2 { margin:0 0 8px 0; font-size:1.25em; }
.speaker-copy p{ margin:0 0 22px 0; }	
	
.speaker-more { font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight: 200; font-size:.8em; line-height:1.5em;	margin: 2em 0 0 0;}




.speaker-nav { margin: 35px 0 0 0; }
.speaker-nav h2 { font-size:1.5em; margin: 0; }
.speaker-nav ul {margin: 30px 0 0 0; }
.speaker-nav ul li{margin: 0 0 15px 0; }
	
	@media only screen and (min-width : 680px) {
		.speakers-container { overflow: hidden; width: 72%;}
		.speaker-nav { 
			width: 18%;
			margin: 0px 0 0 0;
			text-align: left;
			position: absolute;
			top: 138px;
			right: 7%;
			padding-left:12px;
			border-left: 1px solid rgba(255,255,255,0.3);
			}	
			.speaker-nav.fixed { position: fixed; top: 50px; }
	}
	
	@media only screen and (min-width : 720px) {
		.speaker-nav { top: 120px; }
		.speakers-container{ overflow: hidden; width: 75%; padding-top:1%; }
		.speaker-copy {float: right; width: 49%;}
		.speaker-copy h1 { margin-top: -2%; }
		.speaker-copy h2 { font-size:1.5em; }	
		.speaker-more {
			float: left; 
			width: 49%;
			margin: 0 2% 0 0;
			padding: 22% 0 0 0;
			font-family: "Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
			font-weight: 200;
			font-size: .8em;
			letter-spacing: .1em;
			line-height: 1.5em;
		}
		.speaker-more ul {
	margin-top: 2em;
}
		
		#michael-johnson .speaker-more { background: url('../images/speakers-michael-johnson') 0 0 no-repeat; background-size: contain;  }	
		#nick-sherman .speaker-more { background: url('../images/speakers-nick-sherman.jpg') 0 0 no-repeat; background-size: contain;  }	
		#mark-boulton .speaker-more { background: url('../images/speakers-mark-boulton.jpg') 0 0 no-repeat; background-size: contain;  }	
		#jenn-lukas .speaker-more { background: url('../images/speakers-jenn-lukas.jpg') 0 0 no-repeat; background-size: contain;  }	
		#jonathan-hoefler .speaker-more { background: url('../images/speakers-jonathan-hoefler.jpg') 0 0 no-repeat; background-size: contain;  }	
		#erik-spiekermann .speaker-more { background: url('../images/speakers-erik-spiekermann.jpg') 0 0 no-repeat; background-size: contain;  }
		#trent-walton .speaker-more { background: url('../images/speakers-trent-walton.jpg') 0 0 no-repeat; background-size: contain;  }	
		#luc-de-groot .speaker-more { background: url('../images/speakers-luc-de-groot.jpg') 0 0 no-repeat; background-size: contain;  }
		#christian-schwartz .speaker-more { background: url('../images/speakers-christian-schwartz.jpg') 0 0 no-repeat; background-size: contain;  }	
	
		.speaker-nav {  right: 7%; }	
	}
	
	@media only screen and (min-width : 860px) {	}
	
	@media only screen and (min-width : 1024px) {
		.speaker-copy h1 { margin-top: -2.6%; }
		
	}

	@media only screen and (min-width : 1156px) {
		.speaker-nav { top: 120px; }	
		.speakers-container{ padding:3% 0 2%; margin-bottom:1%;  }
		}
		
	@media only screen and (min-width : 1210px) {
		.speaker-copy h1 { margin-top: -1%; line-height: 1em; }
		.speaker-nav { top: 130px; }	
		.speaker-more {	padding: 24% 0 0 0; }	
		}	
		
	@media only screen and (min-width : 1400px) {
		.speakers-container{ padding:3% 0 2% }
		}	
	
	
	
	
/* #################################################################################################################################### */ 
/* #############  SPONSORS PAGE ####################################################################################################### */
/* #################################################################################################################################### */

.main-content .sponsors-page .loud { 
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-weight: 200;
	letter-spacing:0em; 
	line-height:1.2em; 
	color: rgba(255,255,255, 0.9);
	text-align: left; 
	font-size:1.1em;
	padding:12px 0;
}
.main-content .sponsors-page  p {  
	font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
	font-weight: 200; 
	text-align: left; 
	margin: 0 0 25px; 
	line-height: 1.5em; 
	padding: 11px 0 0 0; 
}
.main-content .sponsors-page  p span {font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; font-size:1.2em;}
.main-content .sponsors-page .loud span{ font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; color: rgba(255,255,255, 1); }
.sponsorship-pack { margin: 32px auto; font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight: 200; max-width: 340px}	

.sponsorship-pack .button small {font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal;}	
.sponsorship-pack .button span{  margin: 18px 0 0 0px; display:block;}

.sponsorship-pack .button { 
	background: #fff064  url('../images/deco-download-icon.png') center 13px no-repeat; 
	padding: 66px 0 13px 0; 
	text-align: center; 
	border-radius: 6px;
	color: #000;
}
	
	@media only screen and (min-width : 720px) {
		.sponsorship-pack{ margin: 32px 0}
		.sponsors-page .sponsorship-pack{ position:absolute; top:128px; right: 7%; width:30% }
		.main-content .sponsors-page .loud { width:57%; font-size: 1.4em; }
		.main-content .sponsors-page  p { width:57%; }
	}

/* #################################################################################################################################### */ 
/* #############  WORKSHOP PAGE ####################################################################################################### */
/* #################################################################################################################################### */



.workshop-item h1{ font-size: 1.5em; margin-top:20px;}
.workshop-item p{ margin: 2% 0 4%;}
.workshop-item li{ font-size: .8em; line-height: 1.2em; list-style:square; margin: 0 0 2% 6%; font-family:"Karmina Sans Light", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-weight: 200;}	
.workshop-item .cta {text-align: center; width: 250px; padding: 8px 0; margin-bottom: 60px;}

	@media only screen and (min-width : 720px) {

		.workshop-item { /*width: 48%; */border-bottom: 1px solid rgba(255,255,255,.3); padding: 0 0 5% 0; }
		.workshop-item p{ width: 100%; }
		.workshop-item ul { margin-bottom: 10%;}	
		#wrk1 { border-top: 1px solid rgba(255,255,255,0.3); margin: 3% 0 0 0;}
		#wrk1  { background:url('../images/speakers-mark-boulton.jpg') 0 0 no-repeat; }
		#wrk2 { background:url('../images/speakers-jeremy-keith.jpg') 0 0 no-repeat; }
		#wrk3 { background:url('../images/workshop-placeholder.jpg') 0 0 no-repeat; }
		#wrk1, #wrk2, #wrk3  { background-size:34%; background-position-y: 47px; padding:20px 0 40px 40%; }
		.workshop-item .cta:hover { opacity: 0.7; }
		.subheading { width: 60%; }
}

	@media only screen and (min-width : 1024px) {
		#wrk1, #wrk2, #wrk3  { background-size:38%; }
	}
	@media only screen and (min-width : 1156px) {
		#wrk1, #wrk2, #wrk3  { padding-right: 20%; }
		.subheading { width: 45%; }
	}


/* #################################################################################################################################### */ 
/* #############  Exhibition PAGE ####################################################################################################### */
/* #################################################################################################################################### */

#exhibition { text-align: center;}
#exhibition img { max-width: 50%;}
#exhibition p { margin-bottom: 18px;}
	@media only screen and (min-width : 720px) {
			#exhibition { text-align: left; overflow: hidden; }
			#exhibition img{ float:left; max-width: 30%; margin-right: 7%;  }
			#exhibition .sponsorship-pack {margin-left: 37%;}
	}
	@media only screen and (min-width : 990px) {
			#exhibition { margin: 6% auto;width: 75%; }
			.exhibition-content { margin:0 0 0 37%; float: none;}	
			#exhibition .sponsorship-pack {margin-left: 0}

	}
	

/* #################################################################################################################################### */ 
/* #############  Privacy Accessibility and Terms ####################################################################################################### */
/* #################################################################################################################################### */
	
.pat h2 { font-size: 1.25em;  margin: 18px 0 7px;}	
.pat h5 { font-size: 1em; font-family:"Karmina Sans Semi Bold", Corbel, "Lucida Grande", "Lucida Sans Unicode", sans-serif;  font-weight:600; font-style:normal; margin: 0 0 7px; }	
.pat p{ margin-bottom: 18px;}

	@media only screen and (min-width : 720px) {
		.pat h2{ font-size:1.5em; margin-top:12px;}
		.pat p{ width: 60%;}
	}







